.questionaire_title{
    font-family: Objectivity;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 33px;
    color: #000000;
    text-align: center;
}

@media (max-width: 375.98px){
    .questionaire_title{
        font-family: Objectivity;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #000000;
        text-align: center;
    }

    .questionaire_subheading{
        font-family: Objectivity;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
    }

    .align_center{
        margin-left: -500px;
    }
    .field_link{
        width: 100px;
    }
    
    .next-btn-new-project{
        font-family: Objectivity;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        width: 100px;
        height: 55px;
        left: 660px;
        top: 588px;
        background: #CCCCCC;
        border-radius: 8px;
    }
}
.questionaire_subheading{
    font-family: Objectivity;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 350%;
    text-align: center;
}
.MuiFormControl-root{
    margin-left: 500px ;
}
.field_link{
    width: 450px;
}

.next-btn-new-project{
        
    font-family: Objectivity;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    width: 450px;
    height: 55px;
    left: 660px;
    top: 588px;
    background: #CCCCCC;
    border-radius: 8px;
}

.align_center{
    margin-left: 310px;
}